
<div class="card bg-light">
    <div class="card-header">
        <div class="form-top">
    <div class="form-top-left">
        <h3>Pii-Net</h3>
        <p>Control your data on the blockchain.</p>
    </div>
    <div class="form-top-right">
        <i class="fa fa-lock"></i>
    </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">Username     : {{user.username}}</p>
        <p class="card-text">Name     : {{user.first_name}} {{user.last_name}}</p>
        <p class="card-text">Email     : {{user.email}}</p>
        <p class="card-text">Confirmed?     : {{user.is_active}}</p>
        <p class="card-text">Date Joined     : {{user.date_joined}}</p>
        <p class="card-text">Is DemiGod?     : {{user.is_superuser}}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
