
<div class="card bg-light">
    <div class="card-header">
        <div class="form-top">
    <div class="form-top-left">
        <h3>Pii-Net</h3>
        <p>Control your data on the blockchain.</p>
    </div>
    <div class="form-top-right">
        <i class="fa fa-lock"></i>
    </div>
        </div>
    </div>
    <div class="card-body">
        <form role="form" action="" method="post" class="login-form">
            {% csrf_token %}


            <div class="form-group">
                <label>Authorize Member</label>
              <input type="email" placeholder="Enter his/her email ID">
            </div>

            <button type="submit" class="btn" style="background-color: #4CAF50;">Authorize</button>
        </form>

    </div>
    <div class="card-footer"><a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a></div>
</div>
