
<div class="card bg-light">
    <div class="card-header">
        <div class="form-top">
    <div class="form-top-left">
        <h3>Pii-Net</h3>
        <p>Control your data on the blockchain.</p>
    </div>
    <div class="form-top-right">
        <i class="fa fa-lock"></i>
    </div>
        </div>
    </div>
    <div class="card-body">
        <form role="form" action="" method="post" class="login-form">
            {% csrf_token %}


            <div class="form-group">
                <label>Authorize Member</label>
              <input type="email" class="form-control" placeholder="Enter his/her email ID" id="member_email">
            </div>

            <button type="submit" class="btn btn-outline-success btn-block">Authorize</button>
        </form>
        <br><h3>Revoke Authorized Members : </h3>
        <table class="table table-hover">
    <thead>
      <tr>
          <th><center>Authorized Members</center></th>
        <th><center>Revoke?</center></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>john@example.com</td>
          <td><button class="btn btn-outline-danger btn-block">Revoke</button></td>
      </tr>
      <tr>
        <td>john2@example1.com</td>
          <td><button class="btn btn-outline-danger btn-block">Revoke</button></td>
      </tr>
    </tbody>
  </table>
        <button class="btn btn-outline-info btn-block">Refresh list</button>

    </div>
    <div class="card-footer"></div>
</div>
